DirectoryIndex index.php index.html
RewriteEngine on
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteRule (^|/)\. - [F,L]
RewriteRule ^(app|system|db_backups|sessions)(/|$) - [F,L]

<IfModule mod_rewrite.c>

RewriteEngine On
RewriteCond $1 !^(index\.php|assets|install|update) 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# For godady Shared Hosting Server uncomment the line below
RewriteRule ^(.*)$ index.php?/$1 [L]

# Please comment this if you have uncommented the above
# RewriteRule ^(.*)$ index.php/$1 [NC,L,QSA]

</IfModule> 
<IfModule mod_headers.c>
    Header always set Access-Control-Allow-Origin "https://barun.eraai.io.vn"
    Header always set Access-Control-Allow-Headers "origin, x-requested-with, content-type, accept, authorization"
    Header always set Access-Control-Allow-Methods "GET, POST, OPTIONS"
</IfModule>
