<print>A5:Landscape</print><!DOCTYPE html>
<html>
<head>
</head>
<body>
<table style="height: 54px; width: 100%; border-collapse: collapse;" border="0">
<tbody>
<tr style="height: 18px;">
<td style="width: 46.9%; height: 18px; text-align: center;">
<h3 style="font-size: 16px; margin: 0px;"><strong>C&Ocirc;NG TY</strong></h3>
<h3 style="font-size: 16px; margin: 0px;"><em style="font-size: 14px; font-weight: 400;">&nbsp;</em><span style="font-size: 14px; font-weight: 400;">&nbsp;Phường Hưng Lợi,&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Quận Ninh Kiều, Tp Cần Thơ</span></h3>
</td>
<td style="width: 12.1345%; height: 18px;">&nbsp;</td>
<td style="width: 40.9654%; height: 18px; text-align: center;">
<p style="font-size: 16px; margin: 0px;"><strong>Mẫu số 02 - TT</strong></p>
<p>(Ban h&agrave;nh theo th&ocirc;ng tư số 133/2016/TT-BTC ng&agrave;y 26/8/2016 của Bộ T&agrave;i Ch&iacute;nh)</p>
</td>
</tr>
</tbody>
</table>
<h2 style="text-align: center;">&nbsp;</h2>
<h2 style="text-align: center;">PHIẾU CHI</h2>
<table style="width: 100%; border-collapse: collapse; margin-top: -60px;" border="0">
<tbody>
<tr>
<td style="width: 78.2779%;" colspan="2">
<h2 style="text-align: center;">&nbsp;</h2>
<p>&nbsp;</p>
</td>
<td style="width: 18.1997%;">Quyển số: 01<br />Số:&nbsp;<strong>{So_Phieu}</strong><br />Nợ: {KT_NO}<br />C&oacute;: {KT_CO}&nbsp;</td>
</tr>
</tbody>
</table>
<p>Họ v&agrave; t&ecirc;n người nhận tiền:&nbsp;{Khach_Hang}</p>
<p>Địa chỉ:&nbsp;{Dia_chi_kh}</p>
<p>L&yacute; do chi:{Ly_Do}</p>
<p>Số tiền: {So_Tien}&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;(Viết bằng chữ):&nbsp;{So_Tien_Bang_Chu} ./.</p>
<p>&nbsp;</p>
<table style="width: 100%; border-collapse: collapse;" border="0">
<tbody>
<tr>
<td style="width: 20%;">&nbsp;</td>
<td style="width: 20%;">&nbsp;</td>
<td style="width: 20%;">&nbsp;</td>
<td style="width: 20%; text-align: center;" colspan="2">
<p><em>Ng&agrave;y {D_Ngay} th&aacute;ng {D_Thang} năm&nbsp;{D_Nam}<br /><br /></em></p>
</td>
</tr>
<tr>
<td style="width: 20%; text-align: center;"><strong>Gi&aacute;m Đốc</strong><br />(K&yacute; họ t&ecirc;n, đ&oacute;ng dấu)</td>
<td style="width: 20%; text-align: center;"><strong>Kế to&aacute;n trưởng</strong><br />(K&yacute;, họ t&ecirc;n)</td>
<td style="width: 20%; text-align: center;"><strong>Thủ quỷ</strong><br />(K&yacute;, họ t&ecirc;n)</td>
<td style="width: 20%; text-align: center;"><strong>Người lập phiếu</strong><br />(K&yacute;, họ t&ecirc;n)</td>
<td style="width: 20%; text-align: center;"><strong>Người nhận</strong><br />(K&yacute;, họ t&ecirc;n)</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
</body>
</html>