<print>A5:Portrait</print><!DOCTYPE html>
<html>
<head>
</head>
<body>
<p>Kho Trả: {Ten_Kho}</p>
<p>Địa chỉ: {Dia_Chi_Kho}</p>
<p>Điện thoại: {SDT_Kho}</p>
<p style="text-align: center;"><strong>H&Oacute;A ĐƠN TRẢ H&Agrave;NG NH&Agrave; CUNG CẤP</strong><br /> <strong>{Ma_Don_Hang}</strong></p>
<p><strong>Ng&agrave;y Trả:</strong> {Ngay_Xuat}</p>
<p><strong>Nh&agrave; cung cấp:</strong> {Nha_Cung_Cap}</p>
<p><strong>Điện&nbsp; Thoại:</strong> {Dien_thoai_ncc}</p>
<p><strong>Nh&acirc;n vi&ecirc;n:</strong> {Nhan_Vien_Nhap}</p>
<p style="text-align: center;">{Bang_Hoa_Don}</p>
<table style="width: 100%;">
<tbody>
<tr>
<td style="text-align: right; width: 85%;">Tổng tiền h&agrave;ng:</td>
<td style="text-align: right;">{Tong_Tien_Hang}</td>
</tr>
<tr>
<td style="text-align: right; width: 100%;" colspan="2">Bằng chữ: <em>{Tong_Tien_Bang_Chu}</em></td>
</tr>
<tr>
<td style="text-align: right; width: 85%;">Giảm gi&aacute;:</td>
<td style="text-align: right;">{Giam_Gia_Tren_Hoa_Don}</td>
</tr>
<tr>
<td style="text-align: right; width: 85%;"><strong>Tổng thanh to&aacute;n:</strong></td>
<td style="text-align: right;"><strong>{Tong_Thanh_Toan}</strong></td>
</tr>
<tr>
<td style="text-align: right; width: 85%;">Đ&atilde; thanh to&aacute;n:</td>
<td style="text-align: right;">{Da_Thanh_Toan}</td>
</tr>
<tr>
<td style="text-align: right; width: 85%;">C&ograve;n nợ:</td>
<td style="text-align: right;">{Chua_Thanh_Toan}</td>
</tr>
<tr>
<td style="text-align: right; width: 85%;">Tổng nợ:</td>
<td style="text-align: right;">{Tong_No}</td>
</tr>
</tbody>
</table>
<p>Ghi ch&uacute;: {Ghi_Chu}</p>
</body>
</html>