<print>A5:Landscape</print><!DOCTYPE html>
<html>
<head>
</head>
<body>
<p style="text-align: center;">&nbsp;</p>
<table style="width: 100%; border-collapse: collapse;" border="0">
<tbody>
<tr>
<td style="width: 50%;">{Ten_Kho}<br />Điện thoại: {SDT_Kho}<br />Email: {Email_Kho}<br />Địa chỉ: <em>{Dia_Chi_Kho}</em></td>
<td style="width: 50%; text-align: right;">Kh&aacute;ch H&agrave;ng: {Ten_Khach}<br />Điện thoại: {SDT_Khach}<br />Email: {Email_Khach}<br />Địa chỉ: {Dia_Chi_Khach}</td>
</tr>
</tbody>
</table>
<p style="text-align: center;"><strong>B&Aacute;O GI&Aacute; SẢN PHẨM</strong><br /> <strong>{So_Hoa_Don}</strong></p>
<p><strong>Trạng Th&aacute;i:</strong>&nbsp;{Trang_Thai}<br /><strong>Ng&agrave;y b&aacute;o gi&aacute;:</strong> {Ngay}<br /><strong>Nh&agrave; cung cấp:</strong> {Nha_Cung_Cap}<br /><strong>Nh&acirc;n vi&ecirc;n:</strong> {Nhan_Vien}</p>
<p style="text-align: center;">{Bang_Hoa_Don}</p>
<table style="width: 100%;">
<tbody>
<tr>
<td style="text-align: right; width: 85%;">Tổng:</td>
<td style="text-align: right;">{Tong_Cong}</td>
</tr>
<tr>
<td style="text-align: right; width: 100%;" colspan="2">Bằng chữ: <em>{Tong_Cong_Bang_Chu}</em></td>
</tr>
</tbody>
</table>
<p>Ghi ch&uacute;: {Ghi_Chu}</p>
<p style="text-align: center;"><span style="color: #ffffff;"><em>Aloit.vn - Phần mềm quản l&yacute; v&agrave; b&aacute;n h&agrave;ng Online</em></span></p>
<p><span style="color: #ffffff;"><em>&nbsp;</em></span></p>
</body>
</html>