<print>A5:Landscape</print><!DOCTYPE html>
<html>
<head>
</head>
<body>
<table style="width: 100%; border-collapse: collapse; border-style: none;" border="0">
<tbody>
<tr>
<td style="width: 50%;">
<p>Kho Giao: {Ten_Kho}</p>
<p>Địa chỉ: {Dia_Chi_Kho}</p>
<p>Điện thoại: {SDT_Kho}</p>
</td>
<td style="width: 50%; text-align: right;">
<p>Phi giao h&agrave;ng:&nbsp;{Phi_Ship_Doi_Tac}<br /><strong>Thu hộ (COD): {Phai_Thu}</strong></p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: center;"><strong>H&Oacute;A ĐƠN GIAO H&Agrave;NG</strong><br /> <strong>{Ma_Giao_Hang}</strong></p>
<p><strong>Ng&agrave;y giao:</strong> {Ngay_Giao}</p>
<p><strong>Số HĐ B&aacute;n H&agrave;ng:</strong> {Ma_Ban_Hang}</p>
<p><strong>Kh&aacute;ch Nhận H&agrave;ng:</strong> {Khach_Mua_Hang} -{Dien_Thoai}-{Email}</p>
<p><strong>Địa chỉ giao h&agrave;ng:</strong>&nbsp; <em>{Dia_Chi_Giao_Hang}</em></p>
<p style="text-align: center;">{Bang_Hoa_Don}<br /><br /></p>
<table style="width: 100%;">
<tbody>
<tr style="height: 18px;">
<td style="text-align: center; width: 33.7925%; height: 18px; vertical-align: top;">Chuẩn bị bởi<br /><br /><br /><br /><br />{Nhan_Vien}</td>
<td style="text-align: center; width: 32.0238%; vertical-align: top;">Giao h&agrave;ng bởi<br /><br /><br /><br /><br />{Ma_Doi_Tac} - {Ten_Doi_Tac}</td>
<td style="text-align: center; height: 18px; width: 38.9843%; vertical-align: top;">Kh&aacute;ch Nhận H&agrave;ng<br /><br /><br /><br /><br />{Khach_Nhan_Hang}</td>
</tr>
</tbody>
</table>
<p>{Ghi_Chu}</p>
</body>
</html>