<print>A5:Landscape</print><!DOCTYPE html>
<html>
<head>
</head>
<body>
<p style="text-align: center;"><strong>H&Oacute;A ĐƠN CHUYỂN KHO</strong><br /> <strong>{So_Hoa_Don} - {Ngay_Chuyen}</strong></p>
<table style="height: 18px; width: 100%; border-collapse: collapse;" border="0">
<tbody>
<tr style="height: 18px; border-style: none;">
<td style="width: 50%; height: 18px;">
<p><strong>Từ Kho: {Ten_Kho_Chuyen}</strong></p>
<p><strong>Điện thoại: </strong>{SDT_Kho_Chuyen}</p>
<p><strong>Địa chỉ: </strong>{Dia_Chi_Kho_Chuyen}</p>
</td>
<td style="width: 50%; height: 18px; border-style: none; text-align: right;">
<p><strong>Đến Kho: {Ten_Kho_Nhan}</strong></p>
<p><strong>Điện Thoại: </strong>{SDT_Kho_Nhan}</p>
<p><strong>Địa chỉ:</strong> {Dia_Chi_Kho_Nhan}</p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">{Bang_Hoa_Don}</p>
<table style="width: 100%;">
<tbody>
<tr style="height: 10px;">
<td style="text-align: right; width: 100%; height: 10px;" colspan="2">
<p>Ph&iacute; vận chuyển: {Phi_Van_Chuyen}</p>
<p>Tổng Cộng: {Tong_Cong}</p>
<p><em>Bằng chữ: {Bang_Chu}</em></p>
</td>
</tr>
</tbody>
</table>
<p>Ghi ch&uacute;: {Ghi_Chu}</p>
<p>&nbsp;</p>
</body>
</html>